name: Tests
on:
  push:
    branches: [main]
  pull_request:
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.11", "3.12", "3.13", "3.14"]
        include:
          - os: macos-latest
            python-version: "3.11"
          - os: macos-latest
            python-version: "3.14"
          - os: windows-latest
            python-version: "3.11"
          - os: windows-latest
            python-version: "3.14"
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.11"
          python-version: ${{ matrix.python-version }}
      - name: Install Python and dependencies
        run: scripts/setup --upgrade # Ignore lock file
      - name: Run checks
        run: scripts/check --dry
      - name: Test with pytest
        run: scripts/test
